.background_login{
    background-image: url("../img/fondo_blur_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    height: 100vh;
    width: 100%;

}